[nifi-config]
integration_nifi_server_ip=https://ip-10-224-68-66.aws.lmig.com:9093
prodstage_nifi_server_ip=https://ip-10-225-69-27.aws.lmig.com:9093
prod_nifi_server_ip=https://ip-10-225-69-27.aws.lmig.com:9093
integration_nifi_flow_id=7c84501d-d10c-407c-b9f3-1d80e38fe36a
prodstage_nifi_flow_id=7c84501d-d10c-407c-b9f3-1d80e38fe36a
prod_nifi_flow_id=7c84501d-d10c-407c-b9f3-1d80e38fe36a
integration_nifi_user_name=sacid_lmb_hdp_mdmsvc
prodstage_nifi_user_name=sacip_lmb_hdp_mdmsvc
prod_nifi_user_name=sacip_lmb_hdp_mdmsvc
integration_nifi_nonhumanid=aws-hdp-platform-lmb-nonprod-integration.sacid_lmb_hdp_mdmsvc
prodstage_nifi_nonhumanid=aws-hdp-platform-lmb-prod-prod.sacip_lmb_hdp_mdmsvc
prod_nifi_nonhumanid=aws-hdp-platform-lmb-prod-prod.sacip_lmb_hdp_mdmsvc

[nifi-action]
action=upload template and update

[controller-services]
create_or_not=no

[passwords]
db_password_key=aws-hdp-platform-lmb-prod-prod.lake-db.adminpass
hive_password_key=aws-hdp-platform-lmb-prod-prod.sacip_lmb_hdp_sqlfrm